form{
background: white;
font-family: system-ui;
width: 400px;
height: 450px;
position: relative;
top: 5px;
right: 0;
bottom: 0;
left: 0;
margin: auto;
padding-top: 25px;
border-radius: 25px;
border: solid 2px #7B68EE;
}

.userSearchError{
color: red;
margin-left: 15px;
font-size: 17.5px;
}

.view{
top: 0px;
position: relative;
left: 5%;
width: 80%;
opacity: 1;
height: 50px;
}

#text{
font-size: 18px;
display: inline-block;
}

.m{
color: #040462;
font-family: serif;
font-size: 25px;
text-align: center;
margin-bottom: 50px;
}

.username{
border: solid 2px #7B68EE;
padding: 5px;
border-radius: 10px;
width: 315px;
font-size: 25px;
display: block;
margin:0 auto;
}

.email{
border: solid 2px #7B68EE;
padding: 5px;
border-radius: 10px;
width: 315px;
font-size: 25px;
display: block;
margin:0 auto;
}



.password{
border: solid 2px #7B68EE;
padding: 5px;
border-radius: 10px;
width: 315px;
font-size: 25px;
display: block;
margin:0 auto;
}

.main{
left: 0px;
height: 33.2px;
text-decoration: none;
font-family: serif;
font-size: 24px;
top: 7.4px;
position: absolute;
border-radius: 12.5px;
padding: 1px;
color: white;
}

.header{
height: 50px;
background-color: #7B68EE;
}

.button{
border: solid 2px #59c287;
color: white;
background: #59c287;
width: 250px;
padding: 5px;
border-radius: 10px;
font-size: 25px;
display: block;
margin:0 auto;
}

.registration{
color: #040462;
font-family: serif;
font-size: 20px;
position: absolute;
bottom: 15px;
right: 15px;
text-decoration: none;
}

.recoverPassword{
color: #040462;
font-family: serif;
font-size: 20px;
text-decoration: none;
position: absolute;
left: 15px;
bottom: 15px;
}

.header_image{
position: absolute;
top: 0px;
left: 150px;
border: 0px;
}

body{
margin: 0px;
background-attachment: fixed;
background-position: center;
background-size: cover;
background-image: url(img/rex.jpg);
background-repeat: no-repeat;
}

html{
height: 0px;
}

