.registrationForm{
background: white;
font-family: serif;
position: relative;
top: 5px;
width: 400px;
height: 450px;
right: 0;
bottom: 0;
left: 0;
margin: auto;
padding-top: 25px;
border-radius: 25px;
border: solid 2px #7B68EE;
}

.main{
left: 5%;
height: 33.2px;
text-decoration: none;
font-family: serif;
font-size: 24px;
top: 7.9px;
position: absolute;
border-radius: 12.5px;
padding: 1px;
color: white;
}

#text{
font-size: 18px;
display: inline-block;
}

.header{
height: 50px;
background-color: #7B68EE;
}

.registrationConfirmationForm{
border: solid 2px #7B68EE;
background: white;
font-family: system-ui;
width: 400px;
height: 450px;
position: relative;
top: 5px;
right: 0;
bottom: 0;
left: 0;
margin: auto;
padding-top: 25px;
border-radius: 25px;
}

.confirmationOfRegistration{
border: solid 2px #7B68EE;
padding: 5px;
border-radius: 10px;
width: 315px;
font-size: 25px;
display: block;
margin:0 auto;
}

.buttonAuthenticationConfirmation{
color: white;
background: #59c287;
border: solid 2px #59c287;
width: 250px;
padding: 5px;
border-radius: 10px;
font-size: 25px;
display: block;
margin:0 auto;
}

.username{
border: solid 2px #7B68EE;
padding: 5px;
border-radius: 10px;
width: 315px;
font-size: 25px;
display: block;
margin:0 auto;
}

.email{
border: solid 2px #7B68EE;
padding: 5px;
border-radius: 10px;
width: 315px;
font-size: 25px;
display: block;
margin:0 auto;
}

.password{
border: solid 2px #7B68EE;
padding: 5px;
border-radius: 10px;
width: 315px;
font-size: 25px;
display: block;
margin:0 auto;
}

.m{
font-size: 25px;
text-align: center;
margin-bottom: 50px;
}

.headerAuthenticationConfirmation{
font-size: 25px;
text-align: center;
margin-bottom: 50px;
}

.checkPassword{
border: solid 2px #7B68EE;
padding: 5px;
border-radius: 10px;
width: 315px;
font-size: 25px;
display: block;
margin:0 auto;
}

.errorChecksPasswords{
color: red;
font-size: 20px;
margin-left: 35.9px;
}

.errorChecksCode{
color: red;
font-size: 20px;
margin-left: 35.9px;
}

.button{
color: white;
background: #59c287;
border: solid 2px #59c287;
width: 250px;
padding: 5px;
border-radius: 10px;
font-size: 25px;
display: block;
margin:0 auto;
}

body{
margin: 0px;
}

html{
height: 0px;
}