<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" href="/authenticationStyle.css" rel="stylesheet">
    <link type="text/css" href="/mainPageStyle.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<div th:insert="mainPage :: header"></div>
<form class="formA" method="post">
    <header class="m">ВХОД</header>
    <input class="username" type="text" required name="username" placeholder="Введите имя пользователя"><br>
    <input class="email" type="email"  required name="email" placeholder="Введите Email"><br>
    <input class="password" type="password" required name="password" placeholder="Введите пароль"><br>
    <input class="button" type="submit" value="Войти"><br>
    <div th:if="${userSearchErrorBoolean == 'true'}">
        <div class="userSearchError" th:text="${userSearchError}"></div>
    </div>
    <a class="registration" href="/registration">Создать аккаунт</a><br>
    <a class="recoverPassword" href="/forgot/password">Забыли пароль?</a>
</form>
</body>
</html>