<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:ifth="http://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" href="/forgotPasswordStyle.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
</head>
<body>

<div class="header">
    <div class="view">
        <form action="/" method="post">
            <a class="main" href="/">ЗАМЕТКИ.ru - <div id="text">бесплатный онлайн блокнот</div></a>
            <div th:if="${username != null}" class="username_and_button_exit">
                <input class="exit_button" type="submit" name="exit" value="Выйти">
            </div>
        </form>
    </div>
</div>

<form class="forgot_password" action="/forgot/password" method="post">
    <header class="headerForm">ВОССТАНОВЛЕНИЕ ПАРОЛЯ</header>
    <input class="email" type="email"  name="email" placeholder="Введите Email"><br>
    <input class="button" type="submit" value="Воcстановить"><br>
</form>

<div th:if="${comparisonCode == 'true'}" class="formComparisonCode">
    <form action="/forgot/password" class="comparisonCodeRecoverPassword" method="post">
        <header class="headerConfirmationPassword">Подтверждение изменения пароля</header>
        <input class="comparisonCode" type="text" required name="code" placeholder="Введите код подтверждения"><br>
        <input class="buttonComparisonCode" type="submit" value="Подтвердить"><br>
        <div th:if="${errorComparisonCode == 'false'}">
            <div th:text="${errorComparisonCodeText}"></div>
        </div>
    </form>
</div>

<div th:if="${newPassword == 'true'}" class="divNewPassword">
    <form action="/forgot/password" class="formNewPassword" method="post">
        <input class="newPassword" type="password" required name="newPassword" placeholder="Введите новый пароль"><br>
        <input class="buttonNewPassword" type="submit" value="Изменить"><br>
    </form>
</div>

</body>
</html>