<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/img/b.png">
    <link type="text/css" rel="stylesheet" href="/MainPageStyle.css">
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>

<header>
</header>

<form action="/search" method="post">
    <input class="search" required type="search" placeholder="Поиск рецептов по названию">
    <input class="button_search" type="submit" value="Найти">
</form>

<a href="/" ><img class="header_image" src="/img/b.png" width="75" height="75"></a>

    <div class="authentication">
        <a href="/authentication">Вход/Регистрация</a>
    </div>

<div class="content">

</div>

</body>
</html>