<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/img/b.png">
    <link type="text/css" rel="stylesheet" href="/MainPageStyle.css">
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<div th:fragment="header" class="header">
<div class="view">
    <form action="/" method="post">
        <a class="main" href="/">Notepad.ru - <div id="text">бесплатный онлайн блокнот</div></a>
        <a th:if="${username == null}" class="authentication" href="/authentication">Вход/Регистрация</a>
        <div th:if="${username != null}" class="username_and_button_exit">
            <input class="exit_button" type="submit" name="exit" value="Выйти">
        <a class="profile" href="/profile"><div class="sessionUsername" th:text="${username}"></div></a>
        </div>
    </form>
</div>
</div>
</body>
</html>