<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/ProfileStyle.css">
    <title>Профиль</title>
</head>
<body>
<!--Шапка страницы-->
<div th:fragment="header" class="header">
    <div class="view">
        <form class="header_form" action="/" method="post">
            <a class="main" href="/">ЗАМЕТКИ.ru - <div id="text">бесплатный онлайн блокнот</div></a>
            <div th:if="${username != null}" class="username_and_button_exit">
                <input class="exit_button" type="submit" name="exit" value="Выйти">
            </div>
        </form>
    </div>
</div>
<form class="form_main" method="post">
<div class="content">
<div class="notes">
    <div class="create_new_note">
        <input id="input_create_new_note" type="submit" formaction="/profile" value="+ Создать новую заметку">
    </div>
    <div class="search_notes">
        <div class="form_search_notes">
        <input id="input_search_notes" type="text" name="search_notes" placeholder="Найти...">
        <input id="input_button_search" formaction="/profile/search/note" type="submit" value="Поиск">
        </div>
    </div>
<!--Вывод всех заметок-->
<div th:each="note : ${notes}" class="note">
    <a th:text="${note.note_title}" th:href="@{/profile/note/{note_id}(note_id=${note.note_id})}" id="a_note"></a><br>
</div>
</div>
<div class="create_note">
<div class="title_note_and_button_save_and_button_delete">
    <div class="title_note">
        <input th:value="${note_title}" id="input_title_note" type="text" name="note_title" placeholder="Введите название заметки">
    </div>
    <div class="button_delete">
    <input id="input_button_delete" type="submit" name="delete" value="Удалить">
    </div>
</div>
<div class="content_the_note">
        <textarea th:text="${note_description}" id="description_note" name="note_description" placeholder="Ваша заметка"></textarea>
</div>
</div>
</div>
</form>
</body>
</html>