<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <link rel="icon" href="/img/b.png">
    <link rel="stylesheet" type="text/css" href="/registrationStyle.css">
</head>
<body>

<header class="main">
</header>

<a href="/" ><img class="header_image" src="/img/b.png" width="75" height="75"></a>

<form action="/authentication" method="post">
    <header class="m">Регистрация</header>
    <input class="username" type="email"  name="username" placeholder="Введите Email"><br>
    <input class="password" type="password" name="password" placeholder="Введите пароль"><br>
    <input class="replay-password" type="password" name="password" placeholder="Повторите пароль"><br>
    <input class="button" type="submit" value="Зарегистрироваться"><br>
</form>

</body>
</html>