<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <link rel="icon" href="/img/b.png">
    <link rel="stylesheet" type="text/css" href="/registrationStyle.css">
</head>
<body>

<header class="main">
</header>

<a href="/" ><img class="header_image" src="/img/b.png" width="75" height="75"></a>

<form method="post">

    <header class="m">Регистрация</header>

    <input class="username" type="email" required name="email" th:value="${email}" placeholder="Введите Email"><br>

    <input class="password" type="password" required name="password" th:value="${password}" placeholder="Введите пароль"><br>

    <input class="replay-password" type="password" required th:value="${checkPassword}" name="checkPassword" placeholder="Повторите пароль"><br>

    <div class="errorChecksPasswords">
        <div class="text" th:text="${errorChecksPasswords}"></div>
    </div><br>

    <input class="button" type="submit" value="Зарегистрироваться"><br>

</form>

<!--<form method="post">-->

<!--    <header class="m">Подтверждение регистрации</header>-->

<!--    <input class="confirmationOfRegistration">-->

<!--</form>-->

</body>
</html>